<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Detail</title>
  <!-- jquery -->
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <!-- layer -->
  <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
  <!-- common.js -->
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading">Discount Product Detail</div>
  <div class="panel-body">
    <span th:if="${user eq null}"> You haven't login, please login first<br/></span>
    <span>No receiving address。。。</span>
  </div>
  <table class="table" id="goods">
    <tr>
      <td>Product Name</td>
      <td colspan="3" th:text="${goods.goodsName}"></td>
    </tr>
    <tr>
      <td>Product Image</td>
      <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200"/></td>
    </tr>
    <tr>
      <td>Discount Activity start time</td>
      <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td id="seckillTip">
        <input type="hidden" id="remainSeconds" th:value="${remainSeconds}">
        <span th:if="${secKillStatus eq 0}">Count Down: <span id="countDown" th:text="${remainSeconds}"></span> seconds
                </span>
        <span th:if="${secKillStatus eq 1}">Activity start!</span>
        <span th:if="${secKillStatus eq 2}">Activity end!</span>
      </td>
      <td>
        <form id="secKillForm" action="/seckill/doSeckill">
          <input type="hidden" name="goodsId" th:value="${goods.id}">
          <button class="btn btn-primary btn-block" type="submit" id="buyButton">Buy it!</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>Original Price</td>
      <td colspan="3" th:text="${goods.goodsPrice}"></td>
    </tr>
    <tr>
      <td>Discount Price</td>
      <td colspan="3" th:text="${goods.seckillPrice}"></td>
    </tr>
    <tr>
      <td>Number In Stock</td>
      <td colspan="3" th:text="${goods.stockCount}"></td>
    </tr>
  </table>
</div>
</body>
<script>
  $(function (){
    countDown();
  });

  function countDown(){
    var remainSeconds = $("#remainSeconds").val();
    var timeout;
    // Activity hasn't started yet
    if(remainSeconds > 0){
      $("#buyButton").attr("disabled", true);
      timeout = setTimeout(function (){
        $("#countDown").text(remainSeconds - 1);
        $("#remainSeconds").val(remainSeconds - 1);
        countDown();
      }, 1000);
    } else if(remainSeconds == 0){ // Activity start now
      $("#buyButton").attr("disabled", false);
      if(timeout){
        clearTimeout(timeout);
      }
      $("#seckillTip").html("Activity start!")
    } else{
      $("#buyButton").attr("disabled", true);
      $("#seckillTip").html("Activity end!");
    }
  };
</script>
</html>